{% extends "website/splbase.html" %}
{% block content %}
<div>
    <h1>Our Premium Products</h1>
    <div class="product">
        <h2>RAM</h2>
        <img class="imgstyle1" src="/static/images/ram 1 (2).jpg">
        <h3>HyperX Fury 8GB 3200MHz DDR4 CL16 DIMM 1Rx8 Black XMP Desktop Memory</h3>
        <h4>Price:3300<br><a href="https://www.amazon.in/dp/B07WJJ9CNG/ref=cm_sw_em_r_mt_dp_JxR9FbP70Y4EK"
                target="_blank"><img class="logo" src="/static/images/amazon.jpeg"></a></h4>

        <img class="imgstyle1" src="/static/images/ram 2 (2).jpg">
        <h3>XPG ADATA GAMMIX D30 DDR4 8GB (1x8GB) 3200MHz U-DIMM Desktop Memory</h3>
        <h4>Price:3450<br><a href="https://www.amazon.in/dp/B085HSGQ1Y/ref=cm_sw_em_r_mt_dp_3BR9FbSRGA59G"
                target="_blank"><img class="logo" src="/static/images/amazon.jpeg"></a></h4>
    </div>
    <div class="product">
        <h2>SATA HDD</h2>
        <img class="imgstyle1" src="/static/images/hdd 1 (2).jpg">
        <h3>Seagate BarraCuda 1 TB Internal Hard Drive HDD – 3.5 Inch SATA 6 Gb/s 7200 RPM 64 MB Cache for Computer
            Desktop PC</h3>
        <h4>Price:3400<br><a href="https://www.amazon.in/dp/B01LNJBA2I/ref=cm_sw_r_cp_apa_i_xLR9Fb6B03FRF"
                target="_blank"><img class="logo" src="/static/images/amazon.jpeg"></a></h4>
        <img class="imgstyle1" src="/static/images/hdd 2 (2).jpg">
        <h3>Western Digital WD Blue WD20EZAZ 2TB 5400 RPM 256MB Cache SATA 6.0Gb/s 3.5" Latest Internal Hard Drive </h3>
        <h4>Price:4999<br><a href="https://www.amazon.in/dp/B07M7Q3FXG/ref=cm_sw_r_cp_apa_i_HMR9FbGPR4XAR"
                target="_blank"><img class="logo" src="/static/images/amazon.jpeg"></a></h4>

    </div>
    <div class="product">
        <h2>SATA SSD</h2>
        <img class="imgstyle1" src="/static/images/ssd 1 (2).jpg">
        <h3>Western Digital WD Green 240 GB 2.5 inch SATA III Internal Solid State Drive</h3>
        <h4>Price:2530<br><a href="https://www.amazon.in/dp/B076Y374ZH/ref=cm_sw_r_cp_apa_i_FNR9FbMCCZDVY"
                target="_blank"><img class="logo" src="/static/images/amazon.jpeg"></a></h4>

        <img class="imgstyle1" src="/static/images/ssd 2 (2).jpg">
        <h3>Crucial BX500 240GB 3D NAND SATA 2.5-inch SSD</h3>
        <h4>Price:2410<br><a href="https://www.amazon.in/dp/B07G3YNLJB/ref=cm_sw_r_cp_apa_i_iOR9Fb6V2GMPH"
                target="_blank"><img class="logo" src="/static/images/amazon.jpeg"></a></h4>

    </div>
    <div class="product">
        <h2>Broadband Modems</h2>
        <img class="imgstyle1" src="/static/images/modem 1 (2).jpg">
        <h3>TP-LINK TD-W8961N Wireless N300 ADSL2+ Wi-Fi Modem Router, 2x 5dBi Omni directional Fixed antennas,Input
            ISPs supported- BSNL, MTNL, Tata Indicom (RJ-11 Port)</h3>
        <h4>Price:1280<br><a href="https://www.amazon.in/dp/B00RK5VU5M/ref=cm_sw_r_cp_apa_i_BPR9Fb38TQ6EP"
                target="_blank"><img class="logo" src="/static/images/amazon.jpeg"></a></h4>
        <img class="imgstyle1" src="/static/images/modem 2 (2).jpg">
        <h3>TP-Link Archer C50 AC1200 Dual Band Wireless Cable Router, Wi-Fi Speed Up to 867 Mbps/5 GHz + 300 Mbps/2.4
            GHz, Supports Parental Control, Guest Wi-Fi, VPN</h3>
        <h4>Price:1999<br><a href="https://www.amazon.in/dp/B071RSD473/ref=cm_sw_r_cp_apa_i_5PR9FbKR2HZYE"
                target="_blank"><img class="logo" src="/static/images/amazon.jpeg"></a></h4>

    </div>
    <div class="product">
        <h2>Wifi Devices</h2>
        <img class="imgstyle1" src="/static/images/wifi 1.jpg">
        <h3>Tenda N301 Wireless-N300 Easy Setup Router</h3>
        <h4>Price:1540<br><a
                href="https://www.amazon.in/dp/B00D3GO8R4/ref=cm_sw_r_cp_apa_i_YQR9FbXNVWXPP?_encoding=UTF8&psc=1"
                target="_blank"><img class="logo" src="/static/images/amazon.jpeg"></a></h4>

        <img class="imgstyle1" src="/static/images/wifi 2 (2).jpg">
        <h3>TP-Link USB WiFi Adapter for PC(TL-WN725N), N150 Wireless Network Adapter for Desktop - Nano Size WiFi
            Dongle Compatible with Windows 10/7/8/8.1/XP/ Mac OS 10.9-10.15 Linux Kernel 2.6.18-4.4.3</h3>
        <h4>Price:499<br><a href="https://www.amazon.in/dp/B008IFXQFU/ref=cm_sw_r_cp_apa_i_eSR9Fb05DTZ71"
                target="_blank"><img class="logo" src="/static/images/amazon.jpeg"></a></h4>

    </div>
    <div class="product">
        <h2>Switching Devices</h2>
        <img class="imgstyle1" src="/static/images/switching devices 1 (2).jpg">
        <h3>XORB WiFi Socket Switch Plug for Smart Devices</h3>
        <h4>Price:899<br><a href="https://www.amazon.in/dp/B07G16P31F/ref=cm_sw_r_cp_apa_i_5SR9FbTGYE0J4"
                target="_blank"><img class="logo" src="/static/images/amazon.jpeg"></a></h4>

        <img class="imgstyle1" src="/static/images/switching devices 2 (2).jpg">
        <h3>wipro Wi-Fi Enabled Smart LED Bulb B22 9-Watt (16 Million Colors + Warm White/Neutral
            White/White)(Compatible with Amazon Alexa and Google Assistant)</h3>
        <h4>Price:1499<br><a href="https://www.amazon.in/dp/B08C83HKJS/ref=cm_sw_r_cp_apa_i_HTR9FbNRCD005"
                target="_blank"><img class="logo" src="/static/images/amazon.jpeg"></a></h4>

    </div>
</div>
{% endblock  %}